/* Calendar.css */

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text within the container */
}



.assignment-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assignment-form input[type="date"],
.assignment-form input[type="text"] {
  margin-bottom: 10px;
}

.assignments {
  margin-top: 20px;
}

.assignments ul {
  list-style: none;
  padding: 0;
}

.assignments li {
  margin-bottom: 5px;
}

